@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("./fonts/Aleo-Regular.otf") format('otf');
}

@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("./fonts/Aleo-Light.otf") format('otf');
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/JosefinSans-Thin.ttf") format('truetype');
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box
}

img {
    max-width: 100%;
    width: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
}

header {
    background: url(./images/header_bg.png) no-repeat center top / cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
    background-size: 100% 100%;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo h1 {
    font-family: 'Josefin Sans';
    font-size: 48px;
    color: #ffffff;
}

.logo p {
    font-family: 'Josefin Sans';
    font-size: 22px;
    color: #ffffff;
    -webkit-transform: matrix(1.3, 0, 0, 1, 0, 0);
}

form {
    display: flex;
}

input {
    width: 500px;
    height: 60px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    min-width: 78%;
    min-height: 100%;
    font-family: 'Josefin Sans';
    font-weight: 100;
    font-size: 1.4rem;
    text-align: center;
}

#search {
    display: flex;
    width: 144px;
    color: #ffffff;
    background-color: #5474fd;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid #ffffff;
    text-transform: uppercase;
}

#search:hover {
    background-color: #c7c5c5;
    transition: 0.7s;
    opacity: 0.9;
}

.search {
    height: 20px;
    color: #ffffff;
}

form button span {
    font-family: 'Aleo';
    font-size: 14px;
    color: #ffffff;
    padding-right: 10px;
}

.scroll-down {
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-weight: 100;
    font-size: 14px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.scroll-down:hover {
    font-size: 18px;
    transition: 0.5s;
}

nav {
    display: flex;
    min-width: 100%;
    min-height: 10vh;
    background-color: #5474fd;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div a {
    text-decoration: none;
}

nav div p {
    font-family: 'Josefin Sans';
    font-weight: normal;
    font-size: 24px;
    color: #ffffff;
}

nav div .navigation a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Aleo';
    font-size: 14px;
    color: #ffffff;
    margin-right: 30px;
}

.navigation a:hover {
    border-bottom: 2px solid #c7c5c5;
    transition: 0.5s;
    opacity: 0.5;
}

.under-nav {
    background: url(./images/castle.png) no-repeat center top / cover;
}

.under-nav section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-content {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: flex-start;
}

.container-content h2 {
    padding: 20px 0 50px 0;
    font-family: 'Aleo';
    font-size: 36px;
    color: #ffffff;
    font-weight: normal;
}

.container-content p {
    font-family: 'Josefin Sans';
    font-size: 16px;
    font-weight: 100;
    color: #ffffff;
    padding: 0 0 30px 0;
}

.container-content a button {
    font-family: 'Josefin Sans';
    font-size: 16px;
    width: 160px;
    min-height: 50px;
    background-color: #496bfe;
    border: none;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.container-content a {
    font-family: 'Josefin Sans';
    font-size: 16px;
    text-decoration: none;
    max-width: 160px;
}

.container-content a button:hover {
    background-color: #c7c5c5;
    transition: 0.7s;
    opacity: 0.9;
}

.images {
    display: flex;
    flex-direction: column;
    padding: 80px 0px 80px 80px;
}

.images #first-img {
    margin-right: 100px;
    margin-bottom: 4px;
}

.images #second-img {
    margin-left: 100px;
}

.second-navigation {
    min-height: 30rem;
    background-color: #333333;
    display: flex;
    align-items: center;
}

.second-navigation div {
    display: flex;
    justify-content: space-around;
}

.second-navigation a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.second-navigation a img {
    width: 40px;
}

.second-navigation a span {
    padding-top: 1rem;
    font-family: 'Aleo';
    font-size: 3.6rem;
    color: #e8e8e8;
}

.about-spain {
    background-image: url("./images/mountains.png");
    min-width: 100%;
    min-height: 70vh;
    display: flex;
    background-size: 100% 100%;
}

.about-spain section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
}

.about-spain-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #272425;
    max-width: 50%;
    min-height: 50%;
}

.about-spain-text h3 {
    font-family: 'Josefin Sans';
    font-size: 20px;
    color: #e8e8e8;
}

.about-spain-text h2 {
    text-transform: uppercase;
    font-family: 'Josefin Sans';
    font-size: 20px;
    color: #fefefe;
    padding: 20px 0;
}

.about-spain-text p {
    font-family: 'Josefin Sans';
    font-size: 16px;
    color: #e8e8e8;
    padding-bottom: 100px;
}

.about-spain-text a {
    position: absolute;
    right: 20px;
    bottom: 30px;
    text-decoration: none;
}

.about-spain-text a button {
    font-family: 'Josefin Sans';
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    width: 160px;
    min-height: 50px;
    background-color: #496bfe;
    border: none;
    text-transform: uppercase;
}

.about-spain-text a button:hover {
    background-color: #c7c5c5;
    transition: 0.7s;
    opacity: 0.9;
}

.tourist {
    background-image: url("./images/tourist_bg.png");
    min-width: 100%;
    min-height: 70vh;
    display: flex;
    background-size: 100% 100%;
}

.tourist-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding-bottom: 80px;
}

.tourist-content h2 {
    font-family: 'Aleo';
    font-size: 36px;
    color: #ffffff;
    padding: 40px 0 30px 0;
}

.item {
    display: flex;
    min-width: 100%;
    max-height: 240px;
    background-color: #333333;
}

.item img {
    max-width: 40%;
}

.item article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.item h3 {
    font-family: 'Josefin Sans';
    font-size: 20px;
    color: #fefefe;
    padding-bottom: 20px;
}

.item p {
    font-family: 'Josefin Sans';
    font-size: 16px;
    color: #e8e8e8;
}

.item p i {
    color: #5474fd;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    min-height: 170px;
    background-color: #232323;
    justify-content: center;
}

footer h2 {
    font-family: 'Josefin Sans';
    font-size: 24px;
    color: #ffffff;
    padding: 0;
    text-transform: uppercase;
}

footer p {
    font-family: 'Josefin Sans';
    font-size: 16px;
    color: #ffffff;
}

.social {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    min-width: 200px;
    justify-content: space-between;
}

.social i {
    font-size: 30px;
    color: #ffffff;
}

#linkedin {
    color: #5474fd;
}

.social i:hover {
    font-size: 35px;
    color: #ffbcd8;
}